body,
div,
p,
ul,
li{
    margin:0;
    padding: 0;
}
body{
	font-size: 12px;
}
li{
    list-style:none;
}
#Star{
    position: relative;
    width: 600px;
    margin: 10px auto;
}
#Star ul,
#Star span{
    float:left;
    height:20px;
    line-height: 20px;
}
#Star ul{
    margin:0 10px;
}
#Star li{
    float:left;
    width:24px;
    cursor: pointer;
    text-indent: 99999px;
    background:url('img/star.png') no-repeat;
}
#Star strong{
    color:#f40;
    padding-left: 10px;
}
#Star li.on {
    background-position: 0 -28px;
}
#Star p{
    position: absolute;
    top:20px;
    width: 160px;
    height: 60px;
    display: none;
    padding:7px 10px 0;
}