<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shopCart</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>

<body>

    <div id="app">
        <table>
            <thead>
                <tr>
                    <th>
                        请选择
                    </th>
                    <th>商品名称</th>
                    <th>商品单价</th>
                    <th>商品数量</th>
                    <th>总价</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(item,index) in items">
                    <td>
                        <input type="checkbox" v-model="selectList[index]" :key="item.id" :value="index" name="selectList">
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.price}}
                    </td>
                    <td>
                        <button @click="reduce(index)">-</button>
                        {{item.number}}
                        <button @click="add(index)">+</button>
                    </td>
                    <td>
                        {{ item.price*item.number }}
                    </td>
                    <td>
                        <button @click="remove(index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <span>总价：￥ {{ totalPrice }}</span>


    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items: [{
                        id: 1,
                        name: 'dell',
                        price: '4999',
                        number: '1'
                    },
                    {
                        id: 2,
                        name: 'Lenovo',
                        price: '5199',
                        number: '1'
                    },
                    {
                        id: 3,
                        name: 'Mac',
                        price: '7999',
                        number: '1'
                    }
                ],
                selectList: [0,0,0],
                checked: false
            },
            methods: {
                reduce(index) {
                    var item = this.items[index];
                    if (item.number == 1) {
                        return;
                    }
                    item.number--;
                },
                add(index) {
                    var item = this.items[index];
                    item.number++;
                },
                remove(index) {
                    this.items.splice(index, 1);
                    this.selectList.splice(index, 1);
                }
            },
            computed: {
                totalPrice() {
                    var total = 0;
                    for (var i = 0; i < this.selectList.length; i++) {
                        if (this.selectList[i]) {
                            if (this.items[i]) {
                                total += this.items[i].price * this.items[i].number;
                            }
                        }
                    }
                    return total;
                }
            }
        });
    </script>
</body>

</html>