* {
    padding: 0;
    margin: 0;
}

html,
body {
    background: #f2f2f2;
}

.date-picker {
    margin: 45px;
    width: 350px;
    height: 300px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.title {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    text-align: center;
}

#date-picker-month {
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
}

#date-picker-year {
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
}

.datepicker-btn {
    position: absolute;
    top: 0;
    font-size: 30px;
    width: 20px;
    height: 50px;
    line-height: 50px;
    color: #1abc9c;
    cursor: pointer;
}

#pre {
    left: 0;
}

#next {
    right: 0;
}

.body-title {
    border-bottom: 1px solid rgb(230, 229, 229);
}

.body-title ul,
.body-list ul {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.body-title ul li,
.body-list ul li {
    list-style: none;
    display: block;
    width: 14.28%;
    float: left;

    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;

}

.green {
    color: #6ac13c;
}

.greenbox {
    border: 1px solid #6ac13c;
    background: #e9f8df;
}